body {
  max-width: 1200px;
  margin: auto;
}
.main {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  background: #ffffff;
}
.widthAuto {
  width: auto;
  display: inline-block;
}

.ecook_app {
  width: auto;
  height: 30px;
  line-height: 30px;
  float: right;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}
.ecook_app1 {
  width: auto;
  height: 30px;
  line-height: 30px;
  float: right;
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}
.ecook_logo {
  width: 100%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;
  /*     text-align:center; */
}
.ecook_logo_img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.ecook_text {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}

.search {
  height: 36px;
  line-height: 46px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 18px;
  box-shadow: 0 3px 10px #dcdcdc;
}
.search_content {
  width: calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  float: left;
  display: inline-block;
  height: 36px;
  line-height: 34px;
}
.search_button {
  background: #e6e6e6;
  text-align: center;
  float: right;
  width: 60px;
  height: 36px;
  color: #6b6b6b;
  font-size: 13px;
  line-height: 36px;
  border-radius: 0px 18px 18px 0px;
  cursor: pointer;
}
.search_img {
  width: 15px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}
.search_input {
  width: calc(100% - 45px);
  width: -webkit-calc(100% - 45px);
  width: -moz-calc(100% - 45px);
  height: 34px;
  color: #999999;
  display: inline-block;
  outline: none;
  border: none;
  background: none;
}
.dots {
  width: 30px;
  height: 36px;
  line-height: 36px;
  float: right;
  margin-left: 10px;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background: #999999;
}
#ad_banner {
  width: 100%;
  margin: 24px 0;
}
.recipeList {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.recipe_content {
  display: inline-block;
  width: calc(50% - 8px);
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  height: auto;
  margin: auto;
  margin-bottom: 24px;
}
.recipe_img {
  width: 100%;
  height: auto;
  min-height: 123px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.recipe_text {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.recipe_content:nth-child(2n) {
  float: right;
}
.recipe_content:nth-child(7) {
  margin-bottom: 0;
}
.recipe_content:nth-child(8) {
  margin-bottom: 0;
}
/* 搴曢儴 */
.footer {
  width: 100%;
  background: #535353;
  margin-top: 32px;
}
.footer_content {
  width: calc(100% - 48px);
  width: -moz-calc(100% - 48px);
  width: -webkit-calc(100% - 48px);
  margin: auto;
  height: auto;
}
.footer_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 32px;
  margin-bottom: 32px;
}
.footer_top_content {
  display: inline-block;
  width: 92px;
  height: auto;
  border-radius: 4px;
  text-align: center;
}
.footer_top_text {
  color: #ffffff;
}
.footer_top_img {
  width: 92px;
  height: 92px;
  margin-bottom: 16px;
}
.footer_description {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.footer_ecook_logo {
  width: 49px;
  height: 49px;
  border-radius: 4px;
  display: inline-block;
}
.footer_ecook_name {
  display: inline-block;
  width: 100px;
  height: 50px;
  vertical-align: top;
}
.footer_ecook_desc {
  color: #ffffff;
  text-align: left;
  margin-top: 16px;
  line-height: 20px;
}
.footer_link {
  margin-top: 32px;
  width: 100%;
  margin-bottom: 16px;
  height: auto;
}
.footer_ul {
  width: 324px;
  height: 17px;
  margin: auto;
}
.footer_li {
  float: left;
  display: inline-block;
  padding: 0 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  opacity: 0.4;
}
.footer_li:nth-child(5) {
  border: none;
}
.footer_copy {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.4;
  color: #ffffff;
  text-align: center;
}
.footer_ecook_url {
  position: relative;
  top: 5px;
}
.footer_ecook_recipe {
  position: relative;
  top: 10px;
}

@media screen and (max-width: 320px) {
  .footer_content {
    width: calc(100% - 32px);
    width: -moz-calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
    margin: auto;
    height: auto;
  }
  .footer_ecook_recipe {
    display: inline-block;
    width: 115px;
    line-height: 25px;
    /* vertical-align: top; */
    position: relative;
    top: 0;
  }
  .footer_li {
    padding: 0 3px;
  }
}

.link_content_top {
  width: 100%;
  height: 46px;
  background: rgba(255, 255, 255, 1);
}
.link_content_ul {
  width: 100%;
  height: 100%;
}
.link_content_li {
  width: 25%;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  position: relative;
}
.link_active {
  font-weight: 500;
  color: rgba(255, 192, 0, 1);
}
.link_content_info {
  width: 100%;
  height: auto;
}
.link_one {
  width: 50%;
  text-align: left;
  height: 16px;
  font-size: 14px;

  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 16px;
  margin-top: 24px;
  display: inline-block;
  float: left;
  overflow: hidden;
}
.link_one_a {
  width: 90%;
  height: 16px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
}
.link_content_active {
  width: 24px;
  height: 2px;
  background: rgba(255, 192, 0, 1);
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: calc(50% - 12px);
  left: -webkit-calc(50% - 12px);
  left: -moz-calc(50% - 12px);
}
